form{
  
   display: table;
   margin: auto;
   width: 80%;
   border-radius: 7px;
}
input,hr{
    display: block;
    width: 80%;
    border-radius: 2px;
}
.home{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: slategrey;
}
h2{
    color:  skyblue;
    text-align: center;
}

 button{
background-color: rgb(226, 206, 181);
border-radius: 5px;
border: 1px solid rgb(233, 197, 197);
}
.home button:hover{
    background-color: red;
}
form button:hover{
    background-color: rgb(188, 188, 207);
}