.navBar{
    margin-top: 0;
    min-height: 60px;
    align-items: center;
    display:  flex;
    justify-content: space-around;
}
.navBar li{
    list-style-type: none;
}
.navBar a{
    text-decoration: none;
    
}

